# Arquivos de estado
*.tfstate
*.tfstate.*

# Diretório de Cache e Plugin
.terraform/

# variáveis internas
*.tfvars
*.tfvars.json

# Arquivos de configuração de CLI
.terraformrc
terraform.rc

# Logs de erro
crash.log
crash.*.log 

# Aquivos de lock
.terraform.lock.*